/* Device  */
.deviceInfoThumb {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  transition: max-height 500ms;
}

.deviceInfoThumb::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.editDeviceBtn {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e6e9ec;
  border-radius: 8px;
}
.editDeviceBtn:hover,
.editDeviceBtn:focus {
  background-color: #1cb1de;
}

.playBtnImg {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}
.blurOnHover:hover,
.blurOnHover:focus {
  filter: blur(2px);
}

.blurOnHover:hover + .playBtnImg,
.blurOnHover:focus + .playBtnImg {
  opacity: 1;
}

.showBtn {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  border: 1px solid #e6e9ec;
  border-radius: 6px;
}

.showMoreBtn {
  top: 210px;
}
.showLessBtn {
  bottom: -10px;
}
/* Device item  */

.deviceItemCol {
  width: 150px;
  height: 250px;

  transition: transform 500ms;
}
.deviceItem_img {
  object-fit: contain;
  height: 150px;
  width: 100%;
}
.greyColors {
  filter: grayscale(100%);
}
.newPrice {
  color: #1cb1de;
}

.initialPrice {
  text-decoration: line-through;
  text-decoration-color: #2293ab;
  position: absolute;
}

.deviceItemTextContainer {
  width: 150;
  overflow: hidden;
  cursor: pointer;
}
.deviceItemText {
  display: inline-block;
  height: 3.1em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.deviceItemCol:hover,
.deviceItemCol:focus {
  transform: scale(1.05);
}
.deviceItemCol:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 340px) and (max-width: 479px) {
  .deviceItemCol:not(:nth-last-child(-n + 2)) {
    margin-bottom: 16px;
  }
  .deviceItemCol:not(:nth-child(2n)) {
    margin-right: 16px;
  }
}

/* Для ширини екрану більше 480px, наприклад, на планшетах 3 в ряд */
@media screen and (min-width: 480px) and (max-width: 991px) {
  /* Кожен третій елемент, крім останнього в ряду */
  .deviceItemCol:not(:nth-child(3n)) {
    margin-right: calc((100% - 450px) / 2);
  }

  /* Крім останнього в кожному ряду */
  .deviceItemCol:not(:nth-last-child(-n + 3)) {
    margin-bottom: 32px;
  }
}

/* Для ширини екрану більше 992px, наприклад, на більших екранах 4 в ряд */
@media screen and (min-width: 992px) {
  /* Кожен четвертий елемент, крім останнього в ряду */
  .deviceItemCol:not(:nth-child(4n)) {
    margin-right: calc((100% - 600px) / 3);
  }

  /* Крім останнього в кожному ряду */
  .deviceItemCol:not(:nth-last-child(-n + 4)) {
    margin-bottom: 32px;
  }
}
