.deviceItemCol {
  width: 150px;
  height: 250px;

  transition: transform 500ms;
}
.deviceItem_img {
  object-fit: contain;
  height: 150px;
  width: 100%;
}
.deviceItemTextContainer {
  width: 150;
  overflow: hidden;
  cursor: pointer;
}
.deviceItemText {
  display: inline-block;
  height: 3.1em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.deviceItemCol:hover,
.deviceItemCol:focus {
  transform: scale(1.05);
}
.deviceItemCol:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 340px) and (max-width: 479px) {
  .deviceItemCol:not(:nth-last-child(2)) {
    margin-bottom: 16px;
  }
  .deviceItemCol:not(:nth-child(2n)) {
    margin-right: 16px;
  }
}

/* Для ширини екрану більше 480px, наприклад, на планшетах 3 в ряд */
@media screen and (min-width: 480px) and (max-width: 991px) {
  /* Кожен третій елемент, крім останнього в ряду */
  .deviceItemCol:not(:nth-child(3n)) {
    margin-right: calc((100% - 450px) / 2);
  }

  /* Крім останнього в кожному ряду */
  .deviceItemCol:not(:nth-last-child(3)) {
    margin-bottom: 32px;
  }
}

/* Для ширини екрану більше 992px, наприклад, на більших екранах 4 в ряд */
@media screen and (min-width: 992px) {
  /* Кожен четвертий елемент, крім останнього в ряду */
  .deviceItemCol:not(:nth-child(4n)) {
    margin-right: calc((100% - 600px) / 3);
  }

  /* Крім останнього в кожному ряду */
  .deviceItemCol:not(:nth-last-child(4)) {
    margin-bottom: 32px;
  }
}
