@import-normalize;

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.02em;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

/* Reset anchor styles */
/* a {
  color: inherit;
  text-decoration: none;
} */

button {
  line-height: 0;
  padding: 0;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: transparent;
}
/* Make images and embedded objects responsive */

input,
textarea,
select {
  font: inherit;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  margin: 0;
}

/* SCROLL BAR  */

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8ae9ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3795a6;
}

::-webkit-scrollbar-thumb:active {
  background-color: #daf8ff;
}

/* Для Firefox */
::-moz-scrollbar {
  width: 2px;
}

::-moz-scrollbar-track {
  background-color: transparent;
}

::-moz-scrollbar-thumb {
  background-color: #8ae9ff;
  border-radius: 6px;
}

::-moz-scrollbar-thumb:hover {
  background-color: #3795a6;
}

::-moz-scrollbar-thumb:active {
  background-color: #daf8ff;
}

/* DEVICE LIST */

.deviceItem_imgThumb {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.deviceItem_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* NAV BAR */

.button_thumb {
  border-radius: 50%;
  background-color: white;
  height: 38px;
  width: 38px;
  position: relative;
  outline: 2px ridge #ffffff99;
  transition: all 500ms;
}
.button_thumb:hover,
.button_thumb:focus {
  transform: scale(1.15);
}

.basket_btn_count {
  width: 15px;
  height: 15px;
  font-size: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  left: -5px;
  border-radius: 50%;
  background-color: #1cb4e3;
}

.navBar_mainLogo_image {
  animation: drag 3s linear infinite;
}
@keyframes drag {
  0% {
    transform: perspective(400px) rotateY(45deg);
  }

  100% {
    transform: perspective(400px) rotateY(-45deg);
  }
}

.navBar_mainLogo {
  transition: all 500ms;
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.navBar_mainLogo::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: #1cb4e3;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.3s;
}

.navBar_mainLogo:hover::after,
.navBar_mainLogo:focus::after {
  width: 100%;
}

.menuThumb {
  background-color: #212529;
  padding: 15px;
  border-radius: 10px;
  right: 10%;
  top: 40px;
}

/* BRAND BAR  */

.showMoreBtn {
  position: absolute;
  height: 100%;
  top: 50%;
  right: -7px;
  transform: translateY(-50%);
}
.showLessBtn {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: -32px;
  border: 1px solid #e6e9ec;
}
.brandListHidden {
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

.brandListHidden::-webkit-scrollbar {
  height: 2px;
}

.brandListOpen {
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 200px;
}

.brandBarBtnOpenImg {
  transform: rotate(270deg);
}
.brandBarBtnCloseImg {
  transform: rotate(180deg);
}
.scrollToStartBtnImg {
  transform: rotate(90deg);
}
/* AUTH */
.resendConfirmation {
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(13, 110, 253);
  transition: color 500ms;
}
.resendConfirmation:hover,
.resendConfirmation:focus {
  color: #0a58ca;
}
.resendConfirmation:disabled {
  color: grey;
}

.googleAuthIcon {
  opacity: 0.8;
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  transition: all 500ms;
}
.googleAuthIcon:hover,
.googleAuthIcon:focus {
  opacity: 1;
  scale: 1.15;
}
@media only screen and (min-width: 399px) {
  .resendConfirmation {
    bottom: -75px;
  }
  .googleAuthIcon {
    top: 2.7rem;
    right: 3rem;
  }
}
@media only screen and (min-width: 769px) {
  .resendConfirmation {
    bottom: 10px;
  }
  .googleAuthIcon {
    top: 3rem;
    right: 3rem;
  }
}

.form-check-input {
  cursor: pointer;
}
.modal-header {
  padding: 10px !important;
}
