.avatarChangerLebel {
  position: relative;
  background-color: lightgrey;
  background-image: url(../../../assets/authIcons/user-alt-1-svgrepo-com.svg);
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.avatarPrevew {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.inputTypeFile {
  display: none;
}
.btnIcon {
  position: absolute;
  z-index: 3;
  bottom: -15px;
  right: 0px;
}
.fileWarning {
  display: block;
  width: 199%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

.defaultImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
